<%= stylesheet_link_tag 'style', 'show', medis: 'all', 'data-turbolinks-track': 'reload' %>

<div class="show_container">
  <h1>User</h1>

  <ul>
    <li>
      <strong>Name:</strong> <%= @user.name %>
    </li>
    <li>
      <strong>Email:</strong> <%= @user.email %>
    </li>
  </ul>

  <div>
    <%= link_to "Edit User", edit_user_path(@user) %>
    <%= button_to "Delete User", user_path(@user), method: :delete, data: { confirm: "Are you sure you want to delete this user?" } %>
  </div>
  
  <% if user_signed_in? %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  <% end %>

  <%= link_to "Back to users", users_path %>
  <%= link_to "Task List", tasks_path %>
</div>